{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .example-wrapper code {
            padding: 2px 6px;
        }
    </style>
    <div class="example-wrapper">
        <div class="row">
            <a href="{{ path('refresh_type_absence') }}">
                <button class="btn btn-success">Refresh</button>
            </a>
            {% for absence in TypeAbsences %}
                <div id="" class="card"
                     style="width: 18rem; margin: 1em; background-color:#{{ absence.absenceColor }};">
                    <div class="card-body">
                        <h5 class="card-title">{{ absence.Denomination }}</h5>
                        <p class="card-text">
                            ID: {{ absence.id }}<br>
                            Code: {{ absence.codetypeAbsence }}<br>
                            Active: {{ absence.Active ? 'Yes' : 'No' }}<br>
                            color: {{ absence.absenceColor }}
                        <form action="{{ path('delete_type_absence') }}" method="POST">
                            <input name="deleteId" id="deleteId" type="hidden" value="{{ absence.codetypeAbsence }}"/>
                            <button type="submit" class="btn btn-success">Delete</button>
                        </form>
                        <a href = "edit-type-absence/{{ absence.id }}">
                            <button class="btn btn-succes">Edit</button>
                        </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
